In [1]:
# dataset_name = 'cupid'
dataset_name = 'aachen'
# filename = f"outputs/{dataset_name}/feats-superpoint-n4096-r1024_matches-superglue_pairs-query-netvlad1.h5"
filename = f"outputs/{dataset_name}/openibl_4096.h5"
database_path = f"outputs/{dataset_name}/sfm_superpoint+superglue/database.db"

In [2]:
import h5py

with h5py.File(filename, "r") as f:
    print(f'Keys: {list(f.keys())}')
    key = list(f.keys())[0]
    print(f'First Key: {key}')
    print(f'First Data: {f[key]}')
    print(f'First Data List: {list(f[key])}')
    data = list(f.values())[0]
    print(f'First Descriptors: {data[list(f[key])[0]]}')

Keys: ['query']
First Key: query
First Data: <HDF5 group "/query" (1 members)>
First Data List: ['1.jpg']
First Descriptors: <HDF5 group "/query/1.jpg" (1 members)>

In [3]:
from jupyterlab_h5web import H5Web
H5Web(filename)

In [16]:
from hloc.utils.database import COLMAPDatabase
db = COLMAPDatabase.connect(database_path)
images = {}
for name, image_id in db.execute("SELECT name, image_id FROM images;"):
    images[name] = image_id
    print(f"name: {name}, image id: {image_id}")
db.close()

name: db/IMG_0001.JPG, image id: 1
name: db/IMG_0002.JPG, image id: 2
name: db/IMG_0003.JPG, image id: 3
name: db/IMG_0004.JPG, image id: 4
name: db/IMG_0005.JPG, image id: 5
name: db/IMG_0006.JPG, image id: 6
name: db/IMG_0007.JPG, image id: 7
name: db/IMG_0008.JPG, image id: 8
name: db/IMG_0009.JPG, image id: 9
name: db/IMG_0010.JPG, image id: 10
name: db/IMG_0011.JPG, image id: 11
name: db/IMG_0012.JPG, image id: 12
name: db/IMG_0013.JPG, image id: 13
name: db/IMG_0014.JPG, image id: 14
name: db/IMG_0015.JPG, image id: 15
name: db/IMG_0016.JPG, image id: 16
name: db/IMG_0017.JPG, image id: 17
name: db/IMG_0018.JPG, image id: 18
name: db/IMG_0019.JPG, image id: 19
name: db/IMG_0020.JPG, image id: 20
name: db/IMG_0021.JPG, image id: 21
name: db/IMG_0022.JPG, image id: 22
name: db/IMG_0023.JPG, image id: 23
name: db/IMG_0024.JPG, image id: 24
name: db/IMG_0025.JPG, image id: 25
name: db/IMG_0026.JPG, image id: 26
name: db/IMG_0027.JPG, image id: 27
name: db/IMG_0028.JPG, image id: 28
name: db/IMG_0029.JPG, image id: 29
name: db/IMG_0030.JPG, image id: 30
name: db/IMG_0031.JPG, image id: 31
name: db/IMG_0032.JPG, image id: 32
name: db/IMG_0033.JPG, image id: 33
name: db/IMG_0034.JPG, image id: 34
name: db/IMG_0035.JPG, image id: 35
name: db/IMG_0036.JPG, image id: 36
name: db/IMG_0037.JPG, image id: 37
name: db/IMG_0038.JPG, image id: 38
name: db/IMG_0039.JPG, image id: 39
name: db/IMG_0040.JPG, image id: 40
name: db/IMG_0041.JPG, image id: 41
name: db/IMG_0042.JPG, image id: 42
name: db/IMG_0043.JPG, image id: 43
name: db/IMG_0044.JPG, image id: 44
name: db/IMG_0045.JPG, image id: 45
name: db/IMG_0046.JPG, image id: 46
name: db/IMG_0047.JPG, image id: 47
name: db/IMG_0048.JPG, image id: 48
name: db/IMG_0049.JPG, image id: 49
name: db/IMG_0050.JPG, image id: 50
name: db/IMG_0051.JPG, image id: 51
name: db/IMG_0052.JPG, image id: 52
name: db/IMG_0053.JPG, image id: 53
name: db/IMG_0054.JPG, image id: 54
name: db/IMG_0055.JPG, image id: 55
name: db/IMG_0056.JPG, image id: 56
name: db/IMG_0057.JPG, image id: 57
name: db/IMG_0058.JPG, image id: 58
name: db/IMG_0059.JPG, image id: 59
name: db/IMG_0060.JPG, image id: 60
name: db/IMG_0061.JPG, image id: 61
name: db/IMG_0062.JPG, image id: 62
name: db/IMG_0063.JPG, image id: 63
name: db/IMG_0064.JPG, image id: 64
name: db/IMG_0065.JPG, image id: 65
name: query/IMG_0065.JPG, image id: 66